# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/

# Django
*.sqlite3
media/

# Environment variables
.env
*.env

# VS Code
.vscode/

# Node
node_modules/
package.json
package-lock.json

# Tailwind
static/css/output.css

# OS
.DS_Store
Thumbs.db

# Other
Finalni-verze/